$error: rgb(201, 201, 201);
$placeholder: rgba(0,0,0,0);


input:-webkit-autofill {
    //-webkit-box-shadow: 0 0 0 30px white inset;
}

::-webkit-input-placeholder{
  color: rgba(255,255,255, 0);
}
::-moz-placeholder { /* Firefox 19+ */
  color: rgba(255,255,255, 0);
}
:-ms-input-placeholder { /* IE 10+ */
  color: rgba(255,255,255, 0);
}
:-moz-placeholder { /* Firefox 18- */
  color: rgba(255,255,255, 0);
}

.contact-form {
  h5 {
    color: #333;
    font-size: 11pt;
  }
}

.wpcf7{
  .wpcf7-submit{

    cursor: pointer;
    &:focus{
      outline: 0;
    }
  }

  #input-name,#input-email,#input-message,#input-tel,#input-dropdown{
    width: 100%;
    max-width: 100%;
  }

  #input-message{
    resize: vertical;
  }

  #input-submit {
    background: blue;
    display: inline-block;
    width: initial;
    padding: 10px 0px;
    border-bottom: 0;
    transition: .4s easeout all;
    margin-bottom: 0 !important;


    &:hover {
      color: black;
    }
  }

  #input-dropdown {
    border-bottom: 0;
    //border: 10px solid #f8f8f8;
  }

  #input-options {
    border-bottom: 0;
    padding: 10px;
    background-color: #f8f8f8;
  }

  .input{
    padding: 5px 0 5px 0;
    margin-bottom: 25px;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #999;
    background-color: rgba(0,0,0,0) !important;
    font-size: 16pt;
    outline: none;
    transition: .2s all ease-out;
    color: #999;
    font-family: "Trade Gothic LT Std";
    &:focus{
      border-bottom: 1px solid black;
      color: black;
    }
  }

  .wpcf7-validation-errors{
    color: black;
    &:before{
      font-family: "font-awesome";
      content: '\e816';
      padding-right: 7px;
      color: black;
    }
  }

  span .wpcf7-not-valid {
    border-bottom: 1px solid rgb(249, 72, 72);
  }

  span .wpcf7-not-valid-tip {
    display: none;
  }

  div.wpcf7-response-output {
    //display: none !important;
    //font-family: 'Helvetica Medium', sans-serif;
    font-family: 'Trade Gothic LT Std';
    font-size: 11pt;
    padding: 0 0 !important;
    border: 0;
    margin: 0 !important;
  }

  div.wpcf7-mail-sent-ok{
    color: black;
    &:before{
      font-family: "font-awesome";
      content: '\e813';
      color: black;
      padding-right: 7px;
    }
  }
  .ajax-loader{
    width: 16px;
  }
}

.no-touchevents{
  .wpcf7-submit{
    &:hover{
      color: #ccc !important;
    }
  }
}
