.mobile-nav {
  a {
    font-size: 11pt;
    display: block;
    padding: 25px 20px;
    color: rgb(99, 99, 99) !important;
  }
}

.mm-panel {
  background: rgb(250, 250, 250) !important;
}

.mm-navbar {

}
