.fouc {
  visibility: hidden;
}

body {
background-image: linear-gradient(to left bottom, #f6f6f6, #f6f6f6, #f6f6f6, #f5f5f5, #f5f5f5);
}

.big-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 100%;
  padding: 0 30px;
  @media(min-width: 1000px){
    max-width: 1000px;
  }

  .row{
    margin-bottom: 30px;
  }
}

.full-container {
  padding: 50px 0;
  width: 100vw;
  background: black;
  h1,h5,p {
    color: white;
  }
  h5 {
    border-bottom: 1px solid white !important;
  }
}

.grey-background {
  background: #f8f8f8;
}

.section-padding {
  padding: 100px 30px;
}

.section-padding-top {
  padding-top: 100px;
}


.wrap, .content {
  overflow-x: hidden;
}

.wrap {
  padding-top: 50px;
  flex: 1;
}

.overlap {
  //background-color: blue;
  position: relative;
  img {
    max-width: 700px;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 70%;
    background-color: black;
    top: 0;
    left: 0;
    z-index: -1;
  }
}


.center-align {
  text-align: center;
}

.dropshadow {
  box-shadow: 0px 17px 40px -15px rgba(0,0,0,0.44);
}

.section-margin-bottom {
  margin-bottom: 80px;
}

.img-btn {
  width: 100%;
  padding: 0 30px;
  img {
    width: 100%;
    height: auto;
  }
}

.lazyload {
  opacity: 0;
}


#map {
  width: 100%;
  height: 500px;
}
