@font-face {
    font-family: 'Trade Gothic LT Std';
    src: url('../fonts/TradeGothicLTStd-Cn18.woff2') format('woff2'),
        url('../fonts/TradeGothicLTStd-Cn18.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Trade Gothic LT Std';
    src: url('../fonts/TradeGothicLTStd-BdCn20.woff2') format('woff2'),
        url('../fonts/TradeGothicLTStd-BdCn20.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Alike';
    src: url('../fonts/Alike-Regular.woff2') format('woff2'),
        url('../fonts/Alike-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  font-size: 14pt;
}

h1,h2,h3,h4,h5,h6,li {
    font-family: "Trade Gothic LT Std";
    color: rgb(30, 30, 30);
}

h1 {
  font-size: 40pt;
}

a {
  &:hover {
    text-decoration: none;
  }
}

p {
  font-family: "Alike", serif;
  font-size: 18pt;
  line-height: 29pt;
  color: #333;
}

ul {
  padding: 0;
  li {
    margin: 0;
    list-style: none;
  }
}

.section-list {
  li {
    padding: 10px 0;
    border-bottom: 1px solid rgb(220,220,220);
    color: rgb(120, 120, 120);
  }
}

.full-container .section-list {
  li {
    //display: inline-block;
    border-bottom: 1px solid white;
    color: white;
  }
}

.section-title {
  text-align: center;
  margin-bottom: 50px;
  text-transform: uppercase;

  h5 {
    display: inline-block;
    border-bottom: 1px solid black;
    line-height: 30pt;
    letter-spacing: 1pt;
  }
}

.mobile-nav a, nav a {
  font-family: 'Trade Gothic LT Std';
  letter-spacing: 1pt;
  font-size: 12pt;
  color: black;
  text-transform: uppercase;

  &:hover {
    color: black;
    text-decoration: none;
  }
}


.contact-sidebar {
  a {
    color: #1e1e1e;
  }
}

.disabled {
  h5{
    color: $neutral !important;
  }
  pointer-events: none;
}

.selected {
  pointer-events: none;
  user-select: none;
}

.pull-quote {
  p {
    font-size: 24pt !important;
    line-height: 46pt !important;
  }
}
