footer {
  //background: black;
  padding: 50px 0;
  opacity: 0.3;
  }

  .inline-flex {
    display: flex;

    .il-flex-item {
      display: inline-block;
      padding: 0 10px;
    }
  }


.slick {
  margin-bottom: 40px;

  .slick-slide {
    .slick-item{
      user-select: none;
      text-align: center;

      a {
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
        outline: none;
      }
    .div {
      text-align: center;
    }
      img {

        //opacity: 0.5;
        display: inline-block;
        height: 60px;
        width: auto;
      }
    }
  }
}
