header {
  padding: 50px 0;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .brand {
      display: block;
      width: 190px;
      margin-bottom: 50px;
      svg {
        display: inline;
        width: 100%;
        height: auto;
      }
    }
    nav {
      padding: 40px 0 0 0;
      li {
        display: inline-block;
        padding: 0 8px;

        a {
          display: block;
        }
      }
    }
  }
  @include media-breakpoint-down(sm) {
    nav {
      display: none;
    }

    #hamburger {
      display: block;
    }
  };
}

#hamburger {
  cursor: pointer;
  display: none;
  position: relative;
  width: 30px;
  height: 25px;
  //background: blue;
  justify-content: space-between;


  .stroke {
    position: absolute;
    width: 100%;
    height: 2px;
    background: black;
    transform-origin: center;

    &:nth-child(1) {
      top: 0;
    }
    &:nth-child(2) {
      top: 50%;
      margin-top: -1px;
    }
    &:nth-child(3) {
      bottom: 0;
    }
  }
}

.hamburger-x {
  .stroke {
    &:nth-child(1){
      opacity: 0;
    }
    &:nth-child(2){
      top: 50%;
      transform: rotate(-45deg);
    }
    &:nth-child(3){
      top: 50%;
      transform: rotate(45deg);
    }
  }
}
