.project-list {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  width: 100%;

  .project-thumbnail {
    position: relative;
    width: 33.33%;
    height: 200px;
    padding: 5px;
    overflow: hidden;
    margin-bottom: 30px;

    .thumb {
      position: relative;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0);
      overflow: hidden;
      //opacity: 0;

      .title {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);
        //background-color: red;
        z-index: 1;
        text-align: center;

        h5 {
          white-space: nowrap;
          display: inline-block;
          color: black;
          line-height: normal !important;
          border: 1px solid rgba(0,0,0,0);
          padding: 10px;
          opacity: 0;
        }
      }



      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        //opacity: .6;
      }
    }

    @include media-breakpoint-down(sm) {
      width: 100% !important;
    }
  }
}

.touchevents {
  .project-thumbnail {
    .thumb {
      background: black;
      img {
        opacity: 0.4 !important;
      }
      h5 {
        color: white !important;
        //font-size: 20pt !important;
        opacity: 1 !important;
        //border: 1px solid rgba(0,0,0,1) !important;
      }
    }
  }
}



.project-slider-container {
  position: relative;
  .project-slider {
    width: 100%;
    position: relative;

    .item {
      width: 100%;

      img {
        opacity: 0;
        width: 100%;
        height: auto;
      }
    }
  }

  .slider-arrows {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 0;
    transform: translate3d(-50%, 0, 0);
    padding: 0 30px 7px 30px;
    //background: red;
    z-index: 5;

    .btn {
      //position: absolute;
      position: relative;
      width: 50%;
      height: 100%;
      display: inline-block;
      float: left;
      opacity: 0;

      .arrow {
        position: absolute;
        height: 90px;
        width: 90px;
        text-align: center;
        font-size: 40pt;
        z-index: 4;
        top: 50%;
        transform: translateY(-50%);
        color: white;
      }

      &:hover {
        opacity: 1;
      }
    }

    .btn-left {
      .arrow {
        left: 0;
      }
    }
    .btn-right {
      .arrow {
        right: 0;
      }
    }
  }
}

.project-thumbnails {
  width: 100%;
  padding: 15px 0 0 0;
  margin-bottom: 60px;

  .thumbnail {
    display: inline-block;
    width: 90px;
    height: 90px;
    margin-right: 5px;
    cursor: pointer;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}


.project-description {
  h5 {
    line-height: 30pt;
    display: inline-block;
    color: $neutral;
    border-bottom: 1px solid $neutral;
  }

  .details {
    p {
      font-family: 'Trade Gothic LT Std', sans-serif;
      color: $neutral;
      font-size: 14pt;
    }
    @include media-breakpoint-down(sm) {
      margin-top: 30px;
    };
  }

}

.project-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  a {
    display: inline-block;
    text-decoration: none;
  }
  h5 {
    border-bottom: 0;
    color: $dark;
  }
}
