.review-list {

  .review {
    padding: 50px 50px;
    margin-bottom: 20px;
    //opacity: 0;

    .title {
      margin-bottom: 30px;
    }

    &:nth-child(even) {
      background: rgb(243, 243, 243);
      box-shadow: 0 8px 30px -10px rgba(0,0,0,.3);
    }

    @include media-breakpoint-down(sm) {
      padding: 30px 20px;
    }
  }
}
