.sidebar {
  //background: blue;
  //width: 100vw;

  .follow-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 160px;
    background: rgba(0,0,0, 0.86);
    color: white;
    box-shadow: 0px 32px 124px -52px rgba(0,0,0,0.55);
  }
}
